@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
     text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}


h2 {
  text-align: center;
}

p {
  text-align: center;
}

.animatedbanner {
  background-color: #e6e7e8;
}

.logo {
  width: 40%;
  margin: 0 auto;
}

.thermo {
  width: 7%;
  position: relative;
  margin: 0 auto;
}

@keyframe up {
  
  0% {
    transform: translateY(0);
  }
  
  50% {
    transform: translateY(20px);
  }
  
  65% {
    transform: translateY(40px);
  }
  
  75% {
    transform: translateY(50px);
  }
  
  85% {
    transform: translateY(70px);
  }
  
  100% {
    transform: translateY(90px);
  }
}



@media only screen and (min-width: 20em) {
    
}

@media only screen and (min-width: 44em) {
  
   .logo {
   width: 20%
  }
  
  p {
    max-width: 25em;
    margin: 0 auto;
  }
          
}

@media only screen and (min-width: 60em) {
  
    
}